// custom.scss
$theme-colors: (
  "primary": #718e92
);

@import "~bootstrap/scss/bootstrap";

// Aggiungi il testo bianco ai pulsanti primari
.btn-primary, .btn-primary:hover{
  color: #f1ede2;
}

.btn-light {
  font-weight: 900;
  background-color: #f3f3f3;
}