/*Misty Blue #81ABBC - Olive Green #4D5E38 - White #F1F3F3 - Puce #403A2C*/

@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300..900&display=swap');

/*#3D1D1C, #8D480B, #B73D1E, #CC6529, EE9B00, ECE2C3, 94D2BD, 0A9396, 005F73, 2B5750, 2A5737, 001219*/
/*:root {
  --white: #fefefe;
  --black: #031116;
  --gray: #718e92;
  --c0:#D62F2F;
  --c0D:#6e0e00;  
  --c1:#ee6700;
  --c1D:#a84f0b;
  --c2:#ffea00;
  --c2D:#997906;  
  --c3:#9900b7;
  --c3D: #5c0080;
  --c4:#00aab7;
  --c4D: #006080;
  --c5:#37c885;
  --c5D: #387b5c;
}*/

:root {
  --white: #f1ede2;
  --black: #031116;
  --dark-brown: #3D1D1C;
  --brown: #8D480B;
  --gray: #718e92;
  --c0:#B82A1D;
  --c0D:#7C1C13;  
  --c1:#CC6529;
  --c1D:#AA5422;
  --c2:#eec600;
  --c2D:#ceae0a;  
  --c3: #7F2790;
  --c3D: #631F70;
  --c4:#00778F;
  --c4D: #005566;
  --c5:#386A30;
  --c5D: #2C5426;
}

/*
.c0>input:checked, .c0>input:focus {background-color: var(--c0); border-color: var(--c0D); box-shadow: none;}
.c1>input:checked, .c1>input:focus {background-color: var(--c1); border-color: var(--c1D); box-shadow: none;}
.c2>input:checked, .c2>input:focus {background-color: var(--c2); border-color: var(--c2D); box-shadow: none;}
.c3>input:checked, .c3>input:focus {background-color: var(--c3); border-color: var(--c3D); box-shadow: none;}
.c4>input:checked, .c4>input:focus {background-color: var(--c4); border-color: var(--c4D); box-shadow: none;}
.c5>input:checked, .c5>input:focus {background-color: var(--c5); border-color: var(--c5D); box-shadow: none;}*/

input[type="radio"]:checked, input[type="radio"]:focus {background-color: var(--gray) !important; background-image: none; box-shadow: none !important;}
.form-check-input[type="checkbox"]:checked {background-color: var(--gray);}
.redT {color: var(--red);}
.dredT {color: var(--dred);}
.yellowT {color: var(--yellow);}
.dyellowT {color: var(--dyellow);}
.grayT {color: var(--gray);}
.blueT {color: var(--blue);}
.dblueT {color: var(--dblue);}
.brownT {color: var(--brown);}
.dbrownT {color: var(--dbrown);}
.greenT {color: var(--green);}
.dgreenT {color: var(--dgreen);}
.whiteT {color: var(--white);}

* {box-sizing: border-box;}

body {
  font-family:  "Montserrat", Arial, Helvetica, sans-serif;
  background-color: var(--wite);
  color: var(--black);
  text-align: center;
}

h1,h2,h3,h4,h5,h6,.title{font-family: "Phudu", sans-serif !important;}
h1{margin-top: 2vh;}

a {color: inherit !important; text-decoration: none;}

button{font-family:  "Phudu", sans-serif !important; font-size: 12px !important;}

.nav-link{color: var(--gray) !important;}
.nav-link.active{color: var(--dblue) !important;}
.nav-link.active img{filter: none;}
.nav-link img{filter: invert(0.45) sepia(2) saturate(1) hue-rotate(150deg);}

.custom-tooltip, .custom-tooltip>* {
  background-color: #031116 !important; 
  opacity: 0.75;
  color: #fefefe !important; 
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 10px;
  position: absolute;
  border-radius: 5px;
  border: none !important;
  padding: 2px 4px;
  z-index: 1000;
  white-space: nowrap;
}

path:focus {outline: none;}

.tab-pane {min-height: 0.25vh !important;}
.menu-tab p{font-size: 14px !important; padding: 0; margin: 0 !important;}

.legend{padding: 10px 20px;}

.color-scale {
  width: 100%; height: 10px;
  background: linear-gradient(to right, #B82A1D, #eec600, #3a8c2e);
  border-radius: 5px;
}
.min-max{display: flex; justify-content: space-between;}
.min-max *{font-size: x-small; display: block;}

.form-range:checked, .form-range:focus{background: transparent !important;}
.form-range::-webkit-slider-thumb{background-color: var(--gray) !important;}
.form-range::-moz-range-thumb{background-color: var(--gray) !important;}

hr{color: var(--lgray);}

.form-check-input{margin: auto 5px !important;}
.icon{width: 20px;}
.up{z-index: 100;}

/*sotto icone casa*/
.leaflet-div-icon{background-color:transparent !important; border: none !important;}
.leaflet-control-layers-expanded{text-align: start;}

.leaflet-control-attribution {right: -15vw; bottom: -5px; transform: scale(0.5);}
/*quadrati cluster*/
path.leaflet-interactive{
  fill: radial-gradient(circle, rgba(244,236,188,1) 0%, rgba(244,223,188,1) 29%, rgba(244,188,214,1) 100%) !important;
}

.visible{opacity: 1;}
.invisible{opacity: 0;}

.colTab{position: relative; right: -10px;}
.tabs {display: flex; justify-content: center;}
.menu-tab>div {padding: 5px;}
.tabs button.nav-link{padding: 5px;}

.cluste {z-index: 1;}

.moran{
  position: absolute; 
  bottom: 0.5vh; left: 0.5vw; 
  padding: 0 10px;
  background-color: var(--white);
  border-radius: 15px;
}