/*Misty Blue #81ABBC - Olive Green #4D5E38 - White #F1F3F3 - Puce #403A2C*/

@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --white: #fefefe;
  --black: #031116;
  --gray: #718e92;
  --c1:#D62F2F;
  --c1D:#6e0e00;  
  --c2:#ee6700;
  --c2D:#a84f0b;
  --c3:#ffea00;
  --c3D:#997906;
  --c4:#00aab7;
  --c4D: #006080;
  --c5:#37c885;
  --c5D: #387b5c;

}

.c1>input:checked, .c1>input:focus {background-color: var(--c1); border-color: var(--c1D); box-shadow: none;}
.c2>input:checked, .c2>input:focus {background-color: var(--c2); border-color: var(--c2D); box-shadow: none;}
.c3>input:checked, .c3>input:focus {background-color: var(--c3); border-color: var(--c3D); box-shadow: none;}
.c4>input:checked, .c4>input:focus {background-color: var(--c4); border-color: var(--c4D); box-shadow: none;}
.c5>input:checked, .c5>input:focus {background-color: var(--c5); border-color: var(--c5D); box-shadow: none;}

input:checked, input:focus {box-shadow: none !important;}

.redT {color: var(--red);}
.dredT {color: var(--dred);}
.yellowT {color: var(--yellow);}
.dyellowT {color: var(--dyellow);}
.grayT {color: var(--gray);}
.blueT {color: var(--blue);}
.dblueT {color: var(--dblue);}
.brownT {color: var(--brown);}
.dbrownT {color: var(--dbrown);}
.greenT {color: var(--green);}
.dgreenT {color: var(--dgreen);}
.whiteT {color: var(--white);}

* {box-sizing: border-box;}

body {
  font-family:  "Montserrat", Arial, Helvetica, sans-serif;
  background-color: var(--wite);
  color: var(--black);
  text-align: center;
}

h1,h2,h3,h4,h5,h6,.title{font-family: "Cutive",  monospace, serif !important;}
h1{margin-top: 2vh;}

a {color: inherit !important; text-decoration: none;}

button{font-family: "Cutive",  monospace, serif !important; font-size: 12px !important;}

.custom-tooltip, .custom-tooltip>* {
  background-color: #031116 !important; 
  opacity: 0.75;
  color: #fefefe !important; 
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 10px;
  position: absolute;
  border-radius: 5px;
  border: none !important;
  padding: 2px 4px;
  z-index: 1000;
  white-space: nowrap;
}

path:focus {outline: none;}


hr{color: var(--lgray);}

.form-check-input{margin: auto 5px !important;}

.visible{opacity: 1;}
.invisible{opacity: 0;}